<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Python'"
      [subtitle]="'Expertise'"
  ></circle-progress>
  </div>
</div>
